body {
  font-family: roboto;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
}

h2  {
  text-decoration: underline;
  margin-top: 3%;
}

#res_brand {
  color:#0095ff;
  font-style: italic;
  font-family: cursive;
}


h1  {
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 2%;
  text-align: center;
}

.intro-text  {
letter-spacing: .015em;
line-height: 1.5em;
text-align: center;
}




.menu {
  font-weight: bold;
}

.td-left {
  text-align: left;
}

.td-middle {
  text-align: middle;
  font-style: italic;
  color: grey;
}

.td-right {
  text-align: right;
  font-weight: bold;
}
