.navbar-light .navbar-brand {
  color: red;
}

.jumbotron {
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}



.carousel .carousel-inner {
  height:content-box;
}


.table1 {
  border-style: solid;
}

.table2 {
  border-style: solid;
}
